In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [13]:
p_df_inter=pd.read_csv('/Users/liyuefan/Documents/gtja/CUFI_zhulian.csv',encoding='gbk')
p_df_inter['update_date']=pd.to_datetime(p_df_inter['update_date'])
p_df_inter.index=[p_df_inter['update_date']]
p_df_inter=p_df_inter.drop(['update_date'],axis=1)

In [14]:
p_df_intra=pd.read_csv('/Users/liyuefan/Documents/gtja/CU_intraday_2year.csv',encoding='gbk')
p_df_intra['update_date']=pd.to_datetime(p_df_intra['update_date'])
p_df_intra['date']=p_df_intra['update_date'].apply(lambda x:x.date())
# select the certain minute in a day for trading. 
p_df_intra_=pd.DataFrame()
for i,j in p_df_intra.groupby(['date']):
    j=j.sort(['update_date'])
    t=j.iloc[10,:]
    p_df_intra_=p_df_intra_.append(t)
p_df_intra_['date']=pd.to_datetime(p_df_intra_['date'])
p_df_intra=p_df_intra_
p_df_intra.index=[p_df_intra['date']]
p_df_intra=p_df_intra.drop(['update_date','date'],axis=1)
p_df_intra=p_df_intra[['close']]
p_df_intra=p_df_intra.rename(columns={'close':'open'})

/Users/liyuefan/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:7: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

In [15]:
lme_df = pd.read_excel('/Users/liyuefan/Documents/gtja/LME_COPPER.xlsx', sheetname='Sheet1')
N_col = lme_df.shape[1]
update_date = lme_df.iloc[3:, 0]
lme_df_ = pd.DataFrame()
lme_df_['update_date'] = update_date
for i in range(1, N_col, 2):
    indicator_name = lme_df.iloc[1, i]
    data = lme_df.iloc[30:, i]
    lme_df_[indicator_name] = data

lme_df = lme_df_
lme_df['update_date'] = pd.to_datetime(lme_df['update_date'])
lme_df.index = [lme_df['update_date']]
lme_df = lme_df.drop(['update_date'], axis=1)
lme_df = lme_df.apply(lambda x: x.astype(float), axis=1)

In [16]:
p_df=pd.concat([p_df_inter[['high','low','close']],p_df_intra[['open']]],axis=1,join='inner')

In [17]:
lme_df['NON-COMMERCIAL LONG PERCENTAGE']=lme_df['NON-COMMERCIAL LONG']/lme_df['OPEN INTEREST']
lme_df['NON-COMMERCIAL SHORT PERCENTAGE']=lme_df['NON-COMMERCIAL SHORT']/lme_df['OPEN INTEREST']
lme_df['COMMERCIAL SHORT PERCENTAGE']=lme_df['COMMERCIAL SHORT']/lme_df['OPEN INTEREST']
lme_df['COMMERCIAL LONG PERCENTAGE']=lme_df['COMMERCIAL LONG']/lme_df['OPEN INTEREST']
lme_df['NET NON-COMMERCIAL PERCENTAGE']=lme_df['NON-COMMERCIAL LONG PERCENTAGE']-lme_df['NON-COMMERCIAL SHORT PERCENTAGE']

In [ ]:
# calculate parameter for cftc~lme

In [9]:
p_df.tail(5)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>high</th>
      <th>low</th>
      <th>close</th>
      <th>open</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2017-02-20</th>
      <td>48620</td>
      <td>47760</td>
      <td>48520</td>
      <td>48510</td>
    </tr>
    <tr>
      <th>2017-02-21</th>
      <td>49100</td>
      <td>48520</td>
      <td>48690</td>
      <td>49150</td>
    </tr>
    <tr>
      <th>2017-02-22</th>
      <td>48950</td>
      <td>48300</td>
      <td>48470</td>
      <td>49110</td>
    </tr>
    <tr>
      <th>2017-02-23</th>
      <td>48750</td>
      <td>48000</td>
      <td>48220</td>
      <td>48870</td>
    </tr>
    <tr>
      <th>2017-02-24</th>
      <td>48490</td>
      <td>46950</td>
      <td>47600</td>
      <td>47450</td>
    </tr>
  </tbody>
</table>
</div>

In [18]:
lme_df.tail(5)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>NON-COMMERCIAL LONG</th>
      <th>NON-COMMERCIAL SHORT</th>
      <th>COMMERCIAL LONG</th>
      <th>COMMERCIAL SHORT</th>
      <th>OPEN INTEREST</th>
      <th>NON-COMMERCIAL LONG PERCENTAGE</th>
      <th>NON-COMMERCIAL SHORT PERCENTAGE</th>
      <th>COMMERCIAL SHORT PERCENTAGE</th>
      <th>COMMERCIAL LONG PERCENTAGE</th>
      <th>NET NON-COMMERCIAL PERCENTAGE</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2017-03-13</th>
      <td>123885</td>
      <td>67319</td>
      <td>109370</td>
      <td>161283</td>
      <td>445498</td>
      <td>0.278082</td>
      <td>0.151110</td>
      <td>0.362029</td>
      <td>0.245501</td>
      <td>0.126973</td>
    </tr>
    <tr>
      <th>2017-03-14</th>
      <td>122819</td>
      <td>66759</td>
      <td>101995</td>
      <td>153081</td>
      <td>430760</td>
      <td>0.285122</td>
      <td>0.154980</td>
      <td>0.355374</td>
      <td>0.236779</td>
      <td>0.130142</td>
    </tr>
    <tr>
      <th>2017-03-15</th>
      <td>124020</td>
      <td>66644</td>
      <td>101811</td>
      <td>153017</td>
      <td>432832</td>
      <td>0.286531</td>
      <td>0.153972</td>
      <td>0.353525</td>
      <td>0.235221</td>
      <td>0.132560</td>
    </tr>
    <tr>
      <th>2017-03-16</th>
      <td>124517</td>
      <td>65630</td>
      <td>101438</td>
      <td>153598</td>
      <td>433496</td>
      <td>0.287239</td>
      <td>0.151397</td>
      <td>0.354324</td>
      <td>0.234000</td>
      <td>0.135842</td>
    </tr>
    <tr>
      <th>2017-03-17</th>
      <td>125216</td>
      <td>65181</td>
      <td>101322</td>
      <td>154063</td>
      <td>433164</td>
      <td>0.289073</td>
      <td>0.150476</td>
      <td>0.355669</td>
      <td>0.233911</td>
      <td>0.138596</td>
    </tr>
  </tbody>
</table>
</div>